.form-content{
    margin:5rem 0;
}

.btn{
    background:#084c61;
    width:100%;
    padding:0.8rem;
    color:#FFF;
    font-weight:600
}

.form-content{
    font-family: 'Ubuntu Mono', monospace;
}
