
.detail-container{
    margin:5rem 0;
}
.detail{
    background:#dce1de;
    padding:10px;
    margin:1rem 0
}

.detail img{
    width:50px;
    border-radius:100%
}


.outher-info{
  margin-top:5px

}


.profile-detail{
padding:10px;
    justify-content:space-between;
    align-items:center;
    display:flex;
}

.detail p{
    color:#1f2421;
}

.buttons-container h5{
    color:#084c61;
    font-family: 'Ubuntu Mono', monospace;
}

.footer-detail{
    background:#1f2421;
    padding:10px
  
}

.footer-detail p{
    color:#FFF
}

.btn_filter{
    border:none;
    background:none;
    width:100%
}

.toggle{
    width:350px
}


@media only screen and ( max-width:786px){
    .toggle{
        width:100%
    }

}