.header{
    width:100%;
    height:35vh;
    background:#084c61;
    padding:2rem
}

.header h1{
    color:#ffc857
}

.header h3{
    color:#FFF
}

.profile-content{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding:2rem
}

.profile-content .img-profile{
    width:100px;
    height:100px;
    background:#FFF;
    justify-content:center;
    align-items:center;
    display:flex;
    border-radius:5px
}
.profile-content .img-profile h3{
    color:#323031

}
.profile-content .img-profile img{
    width:100%;
    padding:2rem
}

.profile-content a{
    color:#FFF
}

.profile-content a:hover{
    color:#CCC
}

.btn-logout{
    border:none;
    background:#1f2421;
    color:#FFF;
    padding:10px;
    justify-content:center;
    align-items:center;
    display:flex;
    margin-top:2rem;
    width:150px;
    border-radius:5px

}

.top-header p{
    color:#FAFAFA
}


@media only screen and ( max-width:786px){
    .profile-content .img-profile{
        width:80px;
        height:80px;
     
    }
}